table {
  margin: 25px 0;
  font-family: $primary-font;
  color: $dark-blue;

  caption {
    padding: 15px 0;
    text-transform: uppercase;
  }

  thead {
    th {
      text-align: left;
      padding: 3px;
    }
  }

  tbody {
    td {
      padding: 3px 5px;

      &.address {
        font-size: 12px;
      }

      &.email {
        a {
          color: $dark-blue;
          &:hover {
            color: $dark-orange;
          }
        }
      }

      &.update,
      &.delete {
        text-align: center;
        img {
          width: 25px;
          cursor: pointer;
        }
      }
    }
  }
}
