table {
  margin: 25px auto;
  font-family: $primary-font;
  color: $dark-blue;

  caption {
    padding: 15px 0;
    text-transform: uppercase;
  }

  thead {
    tr {
      background-color: rgba($light-blue, 0.2);
      th {
        text-align: left;
        padding: 5px 3px;
      }
    }
  }

  tbody {
    tr {
      &:hover {
        background-color: lighten($light-orange, 25);
      }
      td {
        padding: 3px 5px;
  
        &.address {
          font-size: 12px;
        }
  
        &.email {
          a {
            color: $dark-blue;
            &:hover {
              color: $dark-orange;
            }
          }
        }
  
        &.update,
        &.delete {
          text-align: center;
          img {
            width: 25px;
            cursor: pointer;
          }
        }
      }
    }
  }
}
