@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap");
*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* colors */
/* Fonts */
header {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  font-family: "Open Sans", sans-serif;
}
header img {
  width: 100px;
}
header .student-logged {
  margin-top: 10px;
}
header .student-logged span {
  font-weight: bold;
}
header ul {
  display: flex;
  list-style-type: none;
}
header ul li {
  display: inline-block;
  margin-left: 10px;
  padding: 3px;
  border-bottom: 3px solid #023047;
  transition: border-bottom 0.4s ease-in-out;
  cursor: pointer;
}
header ul li:hover {
  border-bottom: 3px solid #219ebc;
}
header ul li a {
  text-decoration: none;
  color: #023047;
  font-weight: 700;
  text-transform: uppercase;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #023047;
  color: white;
  font-family: "Open Sans", sans-serif;
}
footer .sub-footer .logo {
  width: 50px;
}
footer .sub-footer .copyright {
  font-size: 12px;
  letter-spacing: 0.72px;
}
footer .sub-footer h3 {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
}
footer .sub-footer .legacies {
  list-style-type: none;
  font-size: 14px;
}
footer .sub-footer .legacies .legacy {
  display: block;
  margin-bottom: 5px;
}
footer .sub-footer.title-footer {
  display: flex;
  align-items: center;
}

.main-content {
  min-height: 70vh;
  padding: 20px;
}
.main-content h1 {
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin-bottom: 15px;
}
.main-content .presentation {
  display: flex;
  font-family: "Open Sans", sans-serif;
  color: #023047;
  margin-bottom: 50px;
}
.main-content .presentation .description {
  width: 50%;
  padding: 30px 20px;
}
.main-content .presentation .description h2 {
  font-family: "Poppins", sans-serif;
  color: #219ebc;
  margin-bottom: 15px;
}
.main-content .presentation .description .list-acces {
  display: inline-block;
  padding: 3px;
  margin-top: 10px;
  border-bottom: 3px solid #023047;
  transition: border-bottom 0.4s ease-in-out;
  cursor: pointer;
  text-decoration: none;
  color: #023047;
  font-weight: 700;
  text-transform: uppercase;
}
.main-content .presentation .description .list-acces:hover {
  border-bottom: 3px solid #219ebc;
}
.main-content .presentation .description .list-acces:hover {
  border-bottom: 3px solid #219ebc;
}
.main-content .presentation .illustration {
  width: 50%;
  overflow: hidden;
  max-height: 350px;
  border-radius: 0 25px;
}
.main-content .container {
  font-family: "Open Sans", sans-serif;
  color: #023047;
}
.main-content .container .no-logged a {
  display: inline-block;
  padding: 8px;
  margin-top: 10px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #fb8500;
  font-weight: 700;
  letter-spacing: 0.72px;
  transition: background-color 0.4s ease-in-out;
}
.main-content .container .no-logged a:hover {
  background-color: #c86a00;
}
.main-content .container .form-update, .main-content .container .form-delete {
  margin: auto;
  max-width: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-content .container .form-update fieldset, .main-content .container .form-delete fieldset {
  border: none;
  padding: 5px 0;
}
.main-content .container .form-update fieldset label, .main-content .container .form-delete fieldset label {
  min-width: 85px;
  display: inline-block;
}
.main-content .container .form-update fieldset input[type=text], .main-content .container .form-delete fieldset input[type=text] {
  padding: 3px;
}
.main-content .container .form-update input[type=submit], .main-content .container .form-delete input[type=submit] {
  width: 250px;
  margin-top: 20px;
  padding: 5px 10px;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.72px;
  border: none;
  background-color: #fb8500;
  color: white;
  border-radius: 5px;
  text-transform: uppercase;
}

table {
  margin: 25px auto;
  font-family: "Open Sans", sans-serif;
  color: #023047;
}
table caption {
  padding: 15px 0;
  text-transform: uppercase;
}
table thead tr {
  background-color: rgba(142, 202, 230, 0.2);
}
table thead tr th {
  text-align: left;
  padding: 5px 3px;
}
table tbody tr:hover {
  background-color: #ffdb83;
}
table tbody tr td {
  padding: 3px 5px;
}
table tbody tr td.address {
  font-size: 12px;
}
table tbody tr td.email a {
  color: #023047;
}
table tbody tr td.email a:hover {
  color: #fb8500;
}
table tbody tr td.update, table tbody tr td.delete {
  text-align: center;
}
table tbody tr td.update img, table tbody tr td.delete img {
  width: 25px;
  cursor: pointer;
}

.connection,
.register {
  min-height: 50vh;
  font-family: "Open Sans", sans-serif;
  color: #023047;
}
.connection h1,
.register h1 {
  font-family: "Poppins", sans-serif;
  text-align: center;
}
.connection .container,
.register .container {
  padding: 15px 50px 50px;
}
.connection .container form,
.register .container form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 3px solid #eee;
  border-radius: 10px;
  box-shadow: 2px 2px 10px #ccc;
}
.connection .container form fieldset,
.register .container form fieldset {
  border: none;
  padding: 5px 0;
}
.connection .container form fieldset label,
.register .container form fieldset label {
  min-width: 120px;
  display: inline-block;
}
.connection .container form fieldset input[type=text],
.connection .container form fieldset input[type=password],
.connection .container form fieldset input[type=email],
.connection .container form fieldset input[type=tel],
.register .container form fieldset input[type=text],
.register .container form fieldset input[type=password],
.register .container form fieldset input[type=email],
.register .container form fieldset input[type=tel] {
  min-width: 220px;
  padding: 5px;
  border: 1px solid rgba(2, 48, 71, 0.8);
  border-radius: 3px;
}
.connection .container form fieldset .file-input,
.register .container form fieldset .file-input {
  color: transparent;
}
.connection .container form fieldset .file-input::-webkit-file-upload-button,
.register .container form fieldset .file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.connection .container form fieldset .file-input::before,
.register .container form fieldset .file-input::before {
  content: "Choisir une image";
  color: #023047;
  display: inline-block;
  padding: 5px;
  border: 1px solid #023047;
  border-radius: 3px;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
}
.connection .container form input[type=submit],
.register .container form input[type=submit] {
  display: block;
  width: 250px;
  margin: 5px auto 0;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #fb8500;
  color: white;
  font-weight: 700;
  letter-spacing: 0.5px;
  font-size: 16px;
  text-transform: uppercase;
  transition: background-color 0.4s ease-in-out;
}
.connection .container form input[type=submit]:hover,
.register .container form input[type=submit]:hover {
  background-color: #c86a00;
}
.connection .container .register-link,
.connection .container .login-link,
.register .container .register-link,
.register .container .login-link {
  margin-top: 10px;
  text-align: center;
}
.connection .container .register-link a,
.connection .container .login-link a,
.register .container .register-link a,
.register .container .login-link a {
  color: #023047;
}
.connection .container .register-link a:hover,
.connection .container .login-link a:hover,
.register .container .register-link a:hover,
.register .container .login-link a:hover {
  color: #219ebc;
}

/*# sourceMappingURL=style.css.map */
