@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap");
*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* colors */
/* Fonts */
header {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  font-family: "Open Sans", sans-serif;
}
header img {
  width: 100px;
}
header .student-logged {
  margin-top: 10px;
}
header .student-logged span {
  font-weight: bold;
}
header ul {
  display: flex;
  list-style-type: none;
}
header ul li {
  display: inline-block;
  margin-left: 10px;
  padding: 3px;
  border-bottom: 3px solid #023047;
  transition: border-bottom 0.4s ease-in-out;
  cursor: pointer;
}
header ul li:hover {
  border-bottom: 3px solid #219ebc;
}
header ul li a {
  text-decoration: none;
  color: #023047;
  font-weight: 700;
  text-transform: uppercase;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #023047;
  color: white;
  font-family: "Open Sans", sans-serif;
}
footer .sub-footer .logo {
  width: 50px;
}
footer .sub-footer .copyright {
  font-size: 12px;
  letter-spacing: 0.72px;
}
footer .sub-footer h3 {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
}
footer .sub-footer .legacies {
  list-style-type: none;
  font-size: 14px;
}
footer .sub-footer .legacies .legacy {
  display: block;
  margin-bottom: 5px;
}
footer .sub-footer.title-footer {
  display: flex;
  align-items: center;
}

.main-content {
  min-height: 70vh;
  padding: 20px;
}
.main-content h1 {
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin-bottom: 15px;
}
.main-content .presentation {
  display: flex;
  font-family: "Open Sans", sans-serif;
}
.main-content .presentation .description {
  width: 50%;
  padding: 30px 20px;
}
.main-content .presentation .description h2 {
  font-family: "Poppins", sans-serif;
  color: #219ebc;
  margin-bottom: 15px;
}
.main-content .presentation .description .login {
  display: inline-block;
  padding: 3px;
  margin-top: 10px;
  border-bottom: 3px solid #023047;
  transition: border-bottom 0.4s ease-in-out;
  cursor: pointer;
  text-decoration: none;
  color: #023047;
  font-weight: 700;
  text-transform: uppercase;
}
.main-content .presentation .description .login:hover {
  border-bottom: 3px solid #219ebc;
}
.main-content .presentation .description .login:hover {
  border-bottom: 3px solid #219ebc;
}
.main-content .presentation .illustration {
  width: 50%;
  overflow: hidden;
  max-height: 350px;
  border-radius: 0 25px;
}

.connection,
.register {
  min-height: 50vh;
}
.connection .container,
.register .container {
  padding: 50px;
}
.connection .container form,
.register .container form {
  max-width: 450px;
}
.connection .container form fieldset,
.register .container form fieldset {
  border: none;
  padding: 5px 0;
}
.connection .container form fieldset label,
.register .container form fieldset label {
  min-width: 85px;
  display: inline-block;
}
.connection .container form fieldset input[type=text],
.register .container form fieldset input[type=text] {
  padding: 3px;
}
.connection .container form input[type=submit],
.register .container form input[type=submit] {
  border: none;
  background-color: #fb8500;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  text-transform: uppercase;
}

/*# sourceMappingURL=style.css.map */
