header {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  font-family: $primary-font;
  
  img {
    width: 100px;
  }

  .student-logged{
    margin-top: 10px;
    span{
      font-weight: bold;
    }
  }

  ul {
    display: flex;
    list-style-type: none;

    li {
      display: inline-block;
      margin-left: 10px;
      padding: 3px;
      border-bottom: 3px solid $dark-blue;
      transition: border-bottom .4s ease-in-out;
      cursor: pointer;

      &:hover {
        border-bottom: 3px solid $medium-blue;
      }

      a {
        text-decoration: none;
        color: $dark-blue;
        font-weight: 700;
        text-transform: uppercase;
      }
    }
  }
}
