.connection,
.register {
  min-height: 50vh;
  font-family: $primary-font;
  color: $dark-blue;

  h1 {
    font-family: $title-font;
    text-align: center;
  }
  .container {
    padding: 15px 50px 50px;
    form {
      max-width: 500px;
      margin: 0 auto;
      padding: 20px;
      border: 3px solid #eee;
      border-radius: 10px;
      box-shadow: 2px 2px 10px #ccc;

      fieldset {
        border: none;
        padding: 5px 0;

        label {
          min-width: 120px;
          display: inline-block;
        }

        input[type="text"],
        input[type="password"],
        input[type="email"],
        input[type="tel"] {
          min-width: 220px;
          padding: 5px;
          border: 1px solid rgba($dark-blue, 0.8);
          border-radius: 3px;
        }

        .file-input {
          color: transparent;

          &::-webkit-file-upload-button {
            visibility: hidden;
          }

          &::before {
            content: "Choisir une image";
            color: $dark-blue;
            display: inline-block;
            padding: 5px;
            border: 1px solid $dark-blue;
            border-radius: 3px;
            white-space: nowrap;
            -webkit-user-select: none;
            cursor: pointer;
            font-weight: 700;
            font-size: 14px;
          }
        }
      }

      input[type="submit"] {
        display: block;
        width: 250px;
        margin: 5px auto 0;
        padding: 5px 10px;
        border: none;
        border-radius: 5px;
        background-color: $dark-orange;
        color: white;
        font-weight: 700;
        letter-spacing: 0.5px;
        font-size: 16px;
        text-transform: uppercase;
        transition: background-color 0.4s ease-in-out;

        &:hover {
          background-color: darken($dark-orange, 10);
        }
      }
    }

    .register-link,
    .login-link {
      margin-top: 10px;
      text-align: center;

      a {
        color: $dark-blue;
        &:hover {
          color: $medium-blue;
        }
      }
    }
  }
}
