@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');

/* colors */
$light-blue: #8ecae6;
$medium-blue: #219ebc;
$dark-blue: #023047;
$light-orange: #ffb703;
$dark-orange: #fb8500;

/* Fonts */
$title-font: 'Poppins', sans-serif;
$primary-font: 'Open Sans', sans-serif;